<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Winning Team</title>
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
    <link rel="stylesheet" href="../static/alt_styles/nav-bar.css">
    <link rel="stylesheet" href="../static/alt_styles/homepage.css">
    <link rel="stylesheet" href="../static/alt_styles/footer.css">
</head>
<body>
    <div class="navigation-wrapper">
            <div class="left-column">
                <img src="../static/images/seal-president-of-the-united-states-1163420_1920.png" alt="Logo">
            </div>
            <div class="center-column">
                <div class="banner-text">
                    <h1>Pardon Me, I'm a Turkey!</h1>
                </div>
                <div class="links-wrapper">
                    <div class="nav-link">
                        <a href="/">Home</a>
                    </div>
                    
                    <div class="nav-link">
                        <a href="/vulture">Vulture</a>
                    </div>
                    
                    <div class="nav-link">            
                        <a href="/chicken">Chicken</a>
                    </div>
                    
                    <div class="nav-link">
                        <a href="/duck">Duck</a>
                    </div>
    
                    <div class="nav-link">
                        <a href="/form">Comments</a>
                    </div>
                </div>
            </div>
        <div class="right-column">
            <img src="../static/images/Turkey.png" alt="Logo">
        </div>
    </div>
    <div class="contentwrapper">
        <div class="squares">
          <div class="square">
           <div class="img-wrapper">
             <img src="../static/images/homepagephotoone.png" alt="fries">
           </div>
            <div class="square-text-wrapper">
              <a href="#spicy" name="spicy" class="anchor-link">
              <h1>Mr Victor Turks:</h1>
             </a>
              <ul>
                  <p>Hey Mr Neil it's almost Thanksgiving and we're about to start getting killed again, which terrifies me a lot!!!.</p>
              </ul>
            </div>
           </div>
     <div class="square">
          <div class="square-text-wrapper">
             <a href="#medium" name="medium" class="anchor-link">
                 <h1>Mr Neil Turker:</h1>
                 </a>
            <ol>
               <p>I know right, I am super terrified too and my wife just got pregnant and I don't think I would be there for my kid with all this craziness about to start happening!!!!.</p>
            </ol>
           </div>
          <div class="img-wrapper">
             <img src="../static/images/homepage2.png" alt="fries">
           </div>
        </div>
        <div class="square">
           <div class="img-wrapper">
              <img src="../static/images/homepagephotoone.png" alt="fries">
           </div>
    
            <div class="square-text-wrapper">
               <a href="#mild" name="mild" class="anchor-link">
                   <h1>Mr Victor Turks</h1>
                   </a> 
              <ul>
                
                 <p>Wow!!!!!! So I'm about to be a Godfather yeah?!, that's amazing but it's so appalling that they won't us alone and go for other birds during the Thanksgiving season .</p>
             </ul>
            </div>
            </div>
    
      <div class="square">
           <div class="square-text-wrapper">
             <a href="#noflavor" name="noflavor" class="anchor-link">
                 <h1>Mr Neil Turker</h1>
                 </a> 
             <ul>
                
               <p>Right!!! It's so terrifying, why don't they go after the vulture that feeds on dead things or the chicken that has no brains or the duck that quacks for no reason.......check them out and leave us alone!!!!</p>
           </ul>
           </div>
    
           <div class="img-wrapper">
              <img src="../static/images/homepage2.png" alt="fries">
           </div>
         </div>
      </div>
     </div>
    </div>
   </div> 
   
    <div class="footer">
        <div class="logo-footer">
            <img src="../static/images/logophoto.png" alt="logo">
        </div>

        <div class="links-wrapper">
            <div class="nav-link">
                <a href="/">Home</a>
            </div>
            
            <div class="nav-link">
                <a href="/vulture">Vulture</a>
            </div>
            
            <div class="nav-link">            
                <a href="/chicken">Chicken</a>
            </div>
            
            <div class="nav-link">
                <a href="/duck">Duck</a>
            </div>

            <div class="nav-link">
                <a href="/form">Comments</a>
            </div>
        </div>

        <div class="copyright-wrapper">
            &copy; 2018 from the best turkey site builders &#124; all rights reserved
        </div>


    </div>  
</body>
</html>