<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Vulture</title>

    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">


    <link rel="stylesheet" href="../static/alt_styles/common.css">
    <link rel="stylesheet" href="../static/alt_styles/vulture.css">
    <link rel="stylesheet" href="../static/alt_styles/nav-bar.css">    
    <link rel="stylesheet" href="../static/alt_styles/common.css">
    <link rel="stylesheet" href="../static/alt_styles/footer.css">

</head>
<body>
    <div class="navigation-wrapper">
            <div class="left-column">
            <img src="../static/images/logophoto.png" alt="logo">
            </div>
            <div class="center-column">
                <div class="banner-text">
                    <h1>Pardon Me, I'm a Turkey!</h1>
                </div>
                <div class="links-wrapper">
                    <div class="nav-link">
                        <a href="/">Home</a>
                    </div>
                    
                    <div class="nav-link">
                        <a href="/vulture">Vulture</a>
                    </div>
                    
                    <div class="nav-link">            
                        <a href="/chicken">Chicken</a>
                    </div>
                    
                    <div class="nav-link">
                        <a href="/duck">Duck</a>
                    </div>
    
                    <div class="nav-link">
                        <a href="/form">Comments</a>
                    </div>
                </div>
            </div>
        <div class="right-column">
            <img src="../static/images/logophoto.png" alt="logo">
        </div>
    </div>
    <div class="contentwrapper">
        <div class="squares-wrapper">
            <div class="squares">
                <div class="square">
                    <div class="img-wrapper">
                        <img src="../static/images/huntingturkey.jpg" alt="vulture">
                    </div>
    
                    <div class="square-text-wrapper">
                        <a href="#" name="Vulture" class="anchor-link">
                            <h1>How to Catch A Vulture:</h1>
                        </a>
    
                        <UL>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            <li>Vitae, dolores nisi officiis repudiandae deserunt in vel.</li>
                            <li>Maiores culpa excepturi rerum modi ut, obcaecati voluptas.</li>
                            <li>Quaerat est molestias nihil officia eligendi? Quam, tempora?</li>
                        </UL>
                    </div>  
                </div> 
    
                <div class="square">
                    <div class="square-text-wrapper">
                        <a href="#medium" name="Chicken" class="anchor-link">
                            <h1>Fantastic Vulture Recipes</h1>
                        </a>
    
                        <ol>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            <li>Vitae, dolores nisi officiis repudiandae deserunt in vel.</li>
                            <li>Maiores culpa excepturi rerum modi ut, obcaecati voluptas.</li>
                            <li>Quaerat est molestias nihil officia eligendi? Quam, tempora?</li>
                        </ol>
                    </div>
                    <div class="square">
                        <div class="img-wrapper">
                            <img src="../static/images/cookedvulture.jpg" alt="vulture">
                        </div>
                    </div>
                    <div class="square">
                        <div class="img-wrapper">
                            <img src="../static/images/cartoonVulture.jpg" alt="vulture">
                        </div>
                    </div>
    
                    <div class="square"> 
                        <div class="square-text-wrapper">
                            <a href="#" name="vulture" class="anchor-link">
                                <h1>Other</h1>
                            </a>
    
                            <UL>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Vitae, dolores nisi officiis repudiandae deserunt in vel.</li>
                                <li>Maiores culpa excepturi rerum modi ut, obcaecati voluptas.</li>
                                <li>Quaerat est molestias nihil officia eligendi? Quam, tempora?</li>
                            </UL>
                        </div>
                    </div>

    
                </div>           
            </div>
        </div>                                               

    </div>
    <div class="footer">
        <div class="logo-footer">
            <img src="../static/images/logophoto.png" alt="logo">           
        </div>

        <div class="links-wrapper">
            <div class="nav-link">
                <a href="/">Home</a>
            </div>
            
            <div class="nav-link">
                <a href="/vulture">Vulture</a>
            </div>
            
            <div class="nav-link">            
                <a href="/chicken">Chicken</a>
            </div>
            
            <div class="nav-link">
                <a href="/duck">Duck</a>
            </div>

            <div class="nav-link">
                <a href="/form">Comments</a>
            </div>
        </div>

        <div class="copyright-wrapper">
            &copy; 2018 from the best turkey site builders &#124; all rights reserved
        </div>


    </div>  
</body>
</html>